@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Charm');
.top-Header{
    width: 100%;
    height:60vh;
    background-size: cover;
    background-image: url("../../img/bgphoto1.jpg");
    background-position: center;
}
.navSmall{
    height:400px !important;
    background-position: none;
}
.header{
    width: 80%;
    padding-top: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.header i{
    padding-right:10px;
    color:#595959;

}
.nav-menu{

    display: flex;
    justify-content: space-around;
    /*margin: 0;*/
    font-family: 'Charm', sans-serif;

}
.nav-menu>a>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
}

.nav-menu>a>ul>li>a{
    color:  antiquewhite;
    padding: 0px 20px 0 20px;
    font-size: 25px;
    font-family: 'Charm', sans-serif;
    text-decoration: none;
}
.nav-menu>a>h1{
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Charm', sans-serif;
    font-weight: lighter;
}
.nav-menu>a>h1>span{
    color: darkgoldenrod;
}
.nav-menu>a{
    text-decoration: none;   
}
.nav-menu>a>ul>a{
    color:  antiquewhite;
    padding: 0px 20px 0 20px;
    font-size: 25px;
    font-family: 'Charm', cursive;
    text-decoration: none;
}

.nav-link {
    transition: 0.3s ease;
    text-decoration: none;
    padding: 20px 0;
    /* margin: 0 20px; */
  }
  .nav-link:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0; 
    transition: 0.3s ease;
  }